target/classes/config.properties
target/classes/consultasSQL.properties
target/classes/palabrasClave.xml
target/classes/StanfordCoreNLP-spanish.properties
edu/
modeloNaiveBayesEntrenado.model
estructuraDataSet.arff
/target/
